.accordion-wrapper{
    background-color: #ccc;
    width: 500px;
    margin: auto;
    .accordion-item {
      overflow: hidden;
      height: auto;
      max-height: 9999px;
    }
    
    .accordion-item.collapsed {
      max-height: 0;
    }
    
    .accordion-title {
      cursor: pointer;
      color: #666;
      padding: 0.5em 1.5em;
      border: solid 1px #ccc;
      border-radius: 1.5em;
      display: flex;
      justify-content: space-between;
    
      &::after {
        content: "";
        width: 0;
        height: 0;
      }
    }
}

